<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>

    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="BaseUrl" value="tariffication.test.ozon.ru/#/" />

    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="SiteLogin" value="ozon%5Cext-TestUser" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="SitePassword" value="t84n8Q1X" />

  </appSettings>
</configuration>