<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <connectionStrings>
    <add name="Main" connectionString="" />
  </connectionStrings>

  <appSettings>
    <add key="DriversPath" value="" />

    <add key="WebDriverWaitTimeout" value="60" />
    <add key="WebDriverWaitPollingInterval" value="10" />

    <add key="WebDriverTimeoutsImplicitlyWait" value="30" />
    <add key="WebDriverTimeoutsPageLoadTimeout" value="60" />

    <add key="BaseUrl" value="http://www.yandex.ru" />

    <add key="SiteLogin" value="" />
    <add key="SitePassword" value="" />

  </appSettings>
</configuration>