<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />

  </configSections>

  <appSettings>

    <!-- Комментарий -->
    <add key="SomeStringSettingFromAppConfig" value="SomeStringSettingFromAppConfig" />
    <!-- Комментарий -->
    <add key="SomeIntSettingFromAppConfig" value="5000" />


    <add key="WebDriverWaitTimeout" value="60" />
    <add key="WebDriverWaitPollingInterval" value="30" />

    <add key="WebDriverTimeoutsImplicitlyWait" value="30" />
    <add key="WebDriverTimeoutsPageLoadTimeout" value="60" />
    
    <add key="DriversPath" value="" />
    <add key="BaseUrl" value="" />
    <add key="SiteLogin" value="" />
    <add key="SitePassword" value="" />

  </appSettings>

  <connectionStrings>
    <add name="Main" connectionString="Server=someserver;Database=somedb;Trusted_Connection=True;" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="File" xsi:type="File" fileName="log.txt"
              layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${message}" />
      <target name="Console" xsi:type="Console" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="File, Console" />
    </rules>
  </nlog>

</configuration>